[submodule "lib/argon2"]
	path = lib/argon2
	url = https://github.com/P-H-C/phc-winner-argon2
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/acutest"]
	path = lib/acutest
	url = git@github.com:mity/acutest.git
